@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: #173540;
}

.Container {
  max-width: 81.25%;
  width: 1170px;
  margin: 0 auto;
}

.primary-button {
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 0.5rem;
  background: #ff9500;
  border: 1px solid #ff9500;
  position: relative;
}

.primary-button::before {
  content: url(../Images/searchicon.svg);
  margin-left: 8px;
}

/* ===========================================
            Header Navbar CSS
=========================================== */
header .Container .navBar {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

header .Container .navBar .leftLogo {
  max-width: 190px;
  max-height: 50px;
}

header .Container .navBar .leftLogo img {
  width: 100%;
}

header .Container .navBar .rightNavigation {
  display: flex;
  align-items: center;
}

header .Container .navBar .rightNavigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header .Container .navBar .rightNavigation ul a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

header .Container .navBar .rightNavigation ul li:first-child a {
  color: #ff9500;
  font-size: 18px;
  font-weight: 700;
}

/* ===========================================
            Header Hero Section CSS
=========================================== */
header .Container .heroSection {
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Rectangle\ 8\ \(1\).png");
  border-radius: 16px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: fit-content;
  margin: 50px 0px;
}

header .Container .heroSection h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  padding-top: 106px;
}

header .heroSection p {
  color: #fff;
  max-width: 676px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px auto 48px auto;
}

/* Header Find Now Container CSS */

header .Container .heroSection .findNowContainer {
  display: flex;
  padding: 16rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 106 auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

header .Container .heroSection .findNowContainer form input[type="text"] {
  width: 173.2px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #fff;
  padding: 16px;
}

header
  .Container
  .heroSection
  .findNowContainer
  form
  input[type="text"]::placeholder {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
}

header .Container .heroSection .findNowContainer form .when {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #fff;
}

header .Container .heroSection .findNowContainer form .type {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  border-radius: 1px solid #fff;
}

header .Container .heroSection .findNowContainer form button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

header .Container .heroSection .whiteSpace {
  padding: 0.001rem;
}
